*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.gameContainer{
    background: url('bg.png');
    /* background-repeat: no-repeat; */
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
}

.player{
    background: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 118px;
    width: 230px;
    bottom: 0;
    left: 56px;
}

.obstacle{
    background: url(dragon.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 118px;
    width: 172px;
    bottom: 0;
    left: 56vw;
}

.gameStart{
    position: relative;
    width: 100vw;
    font-size: 4vw;
    color: white;
    padding: 30px 0px;
    text-align: center;
}
.gameOver{
    position: relative;
    width: 100vw;
    font-size: 4vw;
    color: white;
    padding: 30px 0px;
    text-align: center;
}

.scoreCard{
    position: absolute;
    top: 20%;
    right: 5%;
    border: 4px solid white;
    color: white;
    font-size: 3vw;
    padding: 10px;
}

.animatePlayer{
    animation: player 0.6s linear;
}

@keyframes player{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 425px;
    }
    100%{
        bottom: 0;
    }
}

.obstacleAni{
    animation: obstacleAni linear 5s  infinite;
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}